/*Style Settings for Index, Contact, and Portfolio Pages*/

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	background: #eeeaef;
	/*background-image: url("/assets/images/square-2696800_480.png");*/
    /*background-repeat: repeat-y;*/
  z-index: 100;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  position: relative;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
	display: block;
	/*float: left;*/
	margin: 0 0 1em 0;
}

.clear {
	clear: both;
}


header {
	display: block;
	position: static;
	width: 100%;
	background: #59118e;
	height: 100px;
	z-index: 1000;
}

.headerMain{
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
}

.namePlate {
	position: static;
	width: 200px;
	height: 100px;
	background-color: black;
	text-align: center;
	padding: 10px;
}

h1 {
	color: white;
	font-size: 24pt;
	font-weight: bold;
}

nav {

}

.headerLinks {
	color: white;
	height: 20px;
	width: 80px;
	text-align: center;
	font-size: 12pt;
	font-style: normal;
}

section {
	display: block;
	position: relative;
	margin-bottom: 20px;
	left: 0px;
	min-height: 0px;
	height: auto;
	background: #eeeaef;
	z-index: 101;
}

article {
	display: block;
	position: relative;
	margin-left: 10%;
	width: 55%;
	background: white;
	margin-top: 20px;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-style: solid;
	border-color: #59118e;
	border-width: 1px;
}

aside {
	display: block;
	position: absolute;
	right: 10%;
	top: 0px;
	width: 23%;
	background: white;
	color: black;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-style: solid;
	border-color: #59118e;
	border-width: 1px;
}

.articleTitle {
	position: absolute;
	left: 20px;
	top: 20px;
	color: #59118e;
	font-size: 18pt;
	font-weight: bold;
}

.asideTitle {
	position: absolute;
	left: 20px;
	top: 20px;
	color: #59118e;
	font-size: 16pt;
	font-weight: bold;
}

#contact {
	position: absolute;
	right: 0px;
	top: 40px;
	border-left: medium solid grey;
}

a#contactLink {
	color: white;
	text-decoration: none;
}

a#contactLink:hover {
	font-weight: bold;
	}

#portfolio {
	position: absolute;
	right: 80px;
	top: 40px;
	border-left: medium solid grey;
}

a#portfolioLink {
	color: white;
	text-decoration: none;
}

a#portfolioLink:hover {
	font-weight: bold;
	}

#about {
	position: absolute;
	right: 160px;
	top: 40px;
}

a#aboutLink {
	color: white;
	text-decoration: none;
}

a#aboutLink:hover {
	font-weight: bold;
	}

#aboutMe {
	color: black;
	font-size: 12pt;
}

#connectWithMe {}

#github {
	position: relative;
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

#linkedin {
	position: relative;
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

#facebook {
	position: relative;
	height: 50px;
	width: 50px;
}

#profilePic {
	float: left;
	height: 200px;
	width: 190px;
	margin-right: 20px;
}

.project {
	position: relative;
	float: left;
	width: 300px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 30px;
	border-style: solid;
	border-color: #59118e;
	border-width: 1px;
}

.projectImage {
	margin-top: 10px;
	margin-left: 25px;
}

.projectBanner {
	display: block;
	height: 30px;
	width: 250px;
	margin-left: 25px;
	position: relative;
	top: -40px;
	background: black;
	color: white;
	font-size: 16pt;
	text-align: center;
	padding: 4px;
}

.projectText {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -10px;
	text-align: center;
	font-size: 9pt;
}

.projectLink {
	text-align: center;
	font-size: 10pt;
	color: blue;
	text-decoration-style: underline;
}

.client {
	position: relative;
	float: left;
	width: 183.33px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 30px;
	border-style: solid;
	border-color: #59118e;
	border-width: 1px;
}

.clientImage {
	margin-top: 10px;
	margin-left: 16px;
}

.clientText {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 9pt;
}

.inputHeader {
	margin-top: 25px;
	font-size: 14pt;
	font-weight: bold;
}

.inputField {
	display: block;
	height: 25px;
	margin-top: 5px;
	padding-left: 10px;
	line-height: 25px;
	font-size: 12pt;
	border-style: solid;
	border-width: 1px;
	border-color: #59118e;
	font-size: 12pt;
	color: grey;
}

.inputBox {
	display: block;
	height: 200px;
	margin-top: 5px;
	line-height: 25px;
	font-size: 12pt;
	border-style: solid;
	border-width: 1px;
	border-color: #59118e;
	font-size: 12pt;
	color: grey;
}

.buttonSubmit {
	height: 40px;
	width: 100px;
	margin-top: 25px;
	margin-bottom: 15px;
	background: #59118e;
	color: white;
	text-align: center;
	font-size: 14pt;
	line-height: 40px;
}

footer {
	display: block;
	position: relative;
	width: 100%;
	background: #59118e;
	height: 100px;
	z-index: 5000;
}

.footerMain {
	display: block;
	position: relative;
	left: 0;
	top: 5px;
	width: 100%;
	height: 95px;
	background: black;
	color: white;
	font-size: 8pt;
	text-align: center;
	line-height: 100px;
}